<!-- ============================ User Dashboard ================================== -->
<section class="bg-light">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="filter_search_opt">
          <a href="javascript:void(0);" (click)="openFilterSearch()">Dashboard Menu<i class="ml-2 ti-menu"></i></a>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-12">

        <div class="simple-sidebar sm-sidebar" id="filter_search">

          <div class="search-sidebar_header">
            <h4 class="ssh_heading">Đóng</h4>
            <button (click)="openFilterSearch()" class="w3-bar-item w3-button w3-large"><i
                class="ti-close"></i></button>
          </div>

          <div class="sidebar-widgets">
            <div class="dashboard-navbar">

              <app-dashboard-navigation></app-dashboard-navigation>

            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-9 col-md-12">
        <div class="dashboard-wraper">
          <form [formGroup]="changePassword" (ngSubmit)="onSubmit()">
          <!-- Basic Information -->
          <div class="form-submit">
            <h4>Đổi mật khẩu</h4>
            <div class="submit-section">
              <div class="row">

                <div class="form-group col-lg-12 col-md-6">
                  <label>Mật khẩu hiện tại</label>
                  <input type="password" class="form-control" formControlName="old_password">
                  <div *ngIf="submitted && f.old_password.errors">
                    <small *ngIf="f.old_password.errors.required" class="text-muted small-popup">Mật khẩu hiện tại không được
                      bỏ
                      trống !</small>
                    <small *ngIf="f.old_password.errors.minlength" class="text-muted small-popup">Password phải ít
                      nhất 6 kí
                      tự! <br></small>
                    <small *ngIf="f.old_password.errors.pattern" class="text-muted small-popup">Mật khẩu không được
                      chứa khoảng trắng!</small>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label>Mật khẩu mới</label>
                  <input type="password" class="form-control" formControlName="new_password">
                  <div *ngIf="submitted && f.new_password.errors">
                    <small *ngIf="f.new_password.errors.required" class="text-muted small-popup">Mật khẩu mới không được
                      bỏ
                      trống !</small>
                    <small *ngIf="f.new_password.errors.minlength" class="text-muted small-popup">Password phải ít
                      nhất 6 kí
                      tự! <br></small>
                    <small *ngIf="f.new_password.errors.pattern" class="text-muted small-popup">Mật khẩu không được
                      chứa khoảng trắng!</small>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label>Xác nhận mật khẩu</label>
                  <input type="password" class="form-control" formControlName="cf_password">
                  <div *ngIf="submitted && f.cf_password.errors">
                    <small *ngIf="f.cf_password.errors.required" class="text-muted small-popup">Xác nhận mật khẩu không được
                      bỏ
                      trống !</small>
                    <small *ngIf="f.cf_password.errors.minlength" class="text-muted small-popup">Password phải ít
                      nhất 6 kí
                      tự! <br></small>
                    <small *ngIf="f.cf_password.errors.mustMatch" class="text-muted small-popup">Mật khẩu không
                      trùng khớp!</small>
                    <small *ngIf="f.cf_password.errors.pattern" class="text-muted small-popup">Mật khẩu không được
                      chứa khoảng trắng!</small>
                  </div>
                </div>

                <div class="form-group col-lg-12 col-md-12">
                  <button class="btn btn-theme-light-2 rounded" type="submit">Cập nhật</button>
                </div>

              </div>
            </div>
          </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</section>
<!-- ============================ User Dashboard End ================================== -->
