<!-- ============================ Page Title Start================================== -->
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2 class="ipt-title">Đăng Tin</h2>
        <span class="ipn-subtitle">Danh sách tất cả các đại lý phổ biến của chúng tôi</span>
      </div>
    </div>
  </div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Submit Property Start ================================== -->
<section class="gray-simple">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="alert alert-success" role="alert">
          <p>
            Vui lòng
            <a href="JavaScript:Void(0);" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#login"
              style="color: #1266e3">Đăng Nhập</a> để có thể đăng bài. Nếu bạn chưa có tài khoản vui lòng
            <a href="JavaScript:Void(0);" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#signup"
              style="color: #1266e3">Đăng Kí</a> tại đậy
          </p>
        </div>
      </div>
      <!-- Submit Form -->
      <div class="col-lg-12 col-md-12">
        <form [formGroup]="Rental_form" (ngSubmit)="onSubmit()">
          <div class="submit-page">
            <!-- Basic Information -->
            <div class="form-submit">
              <h3>Thông Tin Cơ Bản</h3>
              <div class="submit-section">
                <div class="row">
                  <div class="form-group col-md-12">
                    <label>Tiêu đề bài viết
                      <span class="tip-topdata" data-tip="Property Title">
                        <i class="ti-help"></i>
                      </span>
                    </label>
                    <input type="text" formControlName="name" id="name" class="form-control" />
                    <div *ngIf="submitted && f.name.errors">
                      <small *ngIf="f.name.errors.required" class="text-muted small-popup">Tên đăng nhập không được bỏ
                        trống!</small>
                      <small *ngIf="f.name.errors.minlength" class="text-muted small-popup">Tên đăng nhập phải ít
                        nhất
                        6 kí tự!</small>
                    </div>
                  </div>

                  <div class="form-group col-md-6">
                    <label>Giá cho thuê/tháng</label>
                    <input type="text" formControlName="price" id="price" class="form-control" placeholder="VNĐ" />
                    <div *ngIf="submitted && f.price.errors">
                      <small *ngIf="f.price.errors.required" class="text-muted small-popup"> Giá cho thuê không được
                        trống và phải là số</small>
                      <small *ngIf="f.price.errors.minlength" class="text-muted small-popup">Ít nhất là 9 chữ số</small>
                      <small *ngIf="f.price.errors.pattern" class="text-muted small-popup"> Giá phải là kiểu số</small>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Tình trạng</label>
                    <select id="status" name="status" class="form-control" formControlName="status">
                      <option value="0">Hết phòng</option>
                      <option value="1" selected>Còn phòng</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <!-- Location -->
            <div class="form-submit">
              <h3>Địa chỉ</h3>
              <div class="submit-section">
                <div class="row">
                  <div class="form-group col-md-12">
                    <label>Địa chỉ<span class="tip-topdata" data-tip="Property Title"><i
                          class="ti-help"></i></span></label>
                    <input type="text" formControlName="address" class="form-control"
                      placeholder="VD: 334B/10, Đường Nguyễn Văn Linh, Phường An Khánh, Quận Ninh Kiều Thành Phố Cần Thơ" />
                    <div *ngIf="submitted && f.address.errors">
                      <small *ngIf="f.address.errors.required" class="text-muted small-popup"> Địa chỉ không được
                        trống</small>
                      <small *ngIf="f.address.errors.minlength" class="text-muted small-popup">Phải ít nhất có 9
                        từ</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-submit">
              <h3>Thông tin chính</h3>
              <div class="submit-section">
                <div class="row">
                  <!-- <div class="form-group col-md-6">
                <label>Diện tích sử dụng</label>
                <input type="text" class="form-control" placeholder="vd: 10" />
            </div> -->

                  <div class="form-group col-md-6">
                    <label>Số phòng ngủ</label>
                    <input type="number" class="form-control" min="1" id="quantity" name="quantity"
                      formControlName="quantity" />
                  </div>

                  <div class="form-group col-md-6">
                    <label>Loại hình cho thuê</label>
                    <select id="type" class="form-control" formControlName="type">
                      <option value="1" selected>Phòng trọ</option>
                      <option value="2">Mặt bằng</option>
                      <option value="3">Căn hộ</option>
                    </select>
                  </div>

                  <!-- <div class="form-group col-md-6">
                <label>Số nhà vệ sinh</label>
                <input type="text" class="form-control" placeholder="0" />
            </div> -->
                </div>
              </div>
            </div>

            <!-- Detailed Information -->
            <div class="form-submit">
              <h3>Mô tả chi tiết</h3>
              <div class="submit-section">
                <div class="row">
                  <div class="form-group col-md-12">
                    <label>Mô tả</label>
                    <textarea class="form-control h-120" formControlName="description"></textarea>
                  </div>
                  <div *ngIf="submitted && f.description.errors">
                    <small *ngIf="f.description.errors.required" class="text-muted small-popup">Mô tả không được bỏ
                      trống!</small>
                    <small *ngIf="f.description.errors.minlength" class="text-muted small-popup">Mô tả phải có ít nhất 6
                      kí tự</small>
                  </div>
                </div>
              </div>
            </div>
            <!-- Location -->
            <!-- Gallery -->
            <div class="form-submit">
              <h3>Hình ảnh liên quan</h3>
              <div class="submit-section">
                <div class="row">
                  <div class="form-group col-md-12">
                    <label>Bộ sưu tập ảnh tải lên</label>
                    <form action="/upload-target" class="dropzone dz-clickable primary-dropzone">
                      <div class="dz-default dz-message">
                        <i class="ti-gallery"></i>
                        <span>Kéo và thả hình ảnh</span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-lg-12 col-md-12">
              <label>Thoả thuận *</label>
              <ul class="no-ul-list">
                <li>
                  <input id="aj-1" class="checkbox-custom" name="aj-1" type="checkbox" />
                  <label for="aj-1" class="checkbox-custom-label">Tôi đồng ý để trang web này lưu trữ thông tin đã gửi
                    của tôi
                    để họ có thể trả lời yêu cầu của tôi.</label>
                </li>

              </ul>

            </div>
            <div class="form-group col-lg-12 col-md-12">
              <button class="btn btn-theme-light-2 rounded" type="submit">
                Gửi & Xem trước
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- ============================ Submit Property End ================================== -->
