<!-- Log In Modal -->
<div class="login">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-header-title">Đăng Nhập</h4>
        <div class="login-form">
          <form>

            <div class="form-group">
              <label>Tên đăng nhập</label>
              <div class="input-with-icon">
                <input type="text" class="form-control" placeholder="Tên đăng nhập" aria-describedby="userHid">
                <i class="ti-user"></i>
              </div>
              <small class="text-muted small-popup" id="userHid">Tên đăng nhập không được bỏ trống!</small>
            </div>

            <div class="form-group">
              <label>Mật Khẩu</label>
              <div class="input-with-icon">
                <input type="password" class="form-control" placeholder="*******" aria-describedby="passHid">
                <i class="ti-unlock"></i>
              </div>
              <small class="text-muted small-popup" id="passHid">Tên đăng nhập không được bỏ trống!</small>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-md full-width btn-theme-light-2 rounded">Đăng Nhập</button>
            </div>

          </form>
        </div>
        <div class="modal-divider"><span>Hoặc đăng nhập bằng
          </span></div>
        <div class="social-login mb-3">
          <ul>
            <li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
            <li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google+</a></li>
          </ul>
        </div>
        <div class="text-center">
          <p class="mt-4"><a href="#" class="link">Quên mật khẩu?</a></p>
        </div>
        <div class="text-center">
          <i class="ti-user mr-1"></i>
          Bạn đã có tài khoản? <a routerLink="/dang-ky" style="color: #1266e3">Đăng Kí</a> Ngay
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->
