<section class="wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-3">
        <div class="card text-white card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
        <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
        <div class="card-img-overlay d-flex flex-column">
          <div class="card-body">
            <h4 class="card-title mt-0 ">
              <a class="text-white" routerLink="/manage/motels/list">Quản lý trọ thuê</a>
            </h4>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-3">
        <div class="card text-white card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
          <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <h4 class="card-title mt-0 ">
                <a class="text-white" href="#">Quản lý phòng trọ</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-white card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
          <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <h4 class="card-title mt-0 ">
                <a class="text-white" >Quản lý khách thuê</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-white card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
          <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <h4 class="card-title mt-0 ">
                <a class="text-white" href="#">Tạo hoá đơn</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
