<div class="signup">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-header-title">Đăng Ký</h4>
        <div class="login-form">
          <form #signInForm="ngForm" (ngSubmit)="saveCustomers()">

            <div class="row" *ngIf="!submitted">

              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <div class="input-with-icon">
                    <input type="text" class="form-control" placeholder="Tên đăng nhập" name="username" id="username"
                      [(ngModel)]="customers.username" required>
                    <i class="ti-user"></i>
                  </div>
                  <small class="text-muted small-popup" id="userHid">Tên đăng nhập không được bỏ trống!</small>
                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <div class="input-with-icon">
                    <input type="email" class="form-control" placeholder="Email" name="email" id="email"
                      [(ngModel)]="customers.email" required>
                    <i class="ti-email"></i>
                  </div>
                  <small class="text-muted small-popup" id="userHid">Tên đăng nhập không được bỏ trống!</small>
                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <div class="input-with-icon">
                    <input type="password" class="form-control" placeholder="Mật khẩu" name="password" id="password"
                      [(ngModel)]="customers.password" required>
                    <i class="ti-unlock"></i>
                  </div>
                  <small class="text-muted small-popup" id="userHid">Tên đăng nhập không được bỏ trống!</small>
                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <div class="input-with-icon">
                    <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" name="confirmPassword"
                      id="confirmPassword" required>
                    <i class="ti-unlock"></i>
                  </div>
                  <small class="text-muted small-popup" id="userHid">Tên đăng nhập không được bỏ trống!</small>
                </div>
              </div>

            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-md full-width btn-theme-light-2 rounded">Đăng Ký</button>
            </div>
            <!-- <pre>{{ signInForm.value | json }}</pre>
                  <pre>{{ customers | json }}</pre> -->
          </form>
        </div>
        <div class="modal-divider"><span>Hoặc đăng nhập bằng</span></div>
        <div class="social-login mb-3">
          <ul>
            <li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
            <li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google+</a></li>
          </ul>
        </div>
        <div class="text-center">
          <i class="ti-user mr-1"></i>
          Bạn đã có tài khoản? <a routerLink="/dang-nhap" style="color: #1266e3">Đăng Nhập</a> Ngay
        </div>
      </div>
    </div>
  </div>
</div>
