<div class="signup">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-header-title">Đăng Ký</h4>
        <div class="login-form">
          <form
            [formGroup]="register"
            (ngSubmit)="onSubmit()"
            autocomplete="off"
          >
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <div class="input-with-icon">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Tên đăng nhập"
                      formControlName="username"
                      autocomplete="off"
                    />
                    <i class="ti-user"></i>
                  </div>
                  <div *ngIf="submitted && f.username.errors">
                    <small
                      *ngIf="f.username.errors.required"
                      class="text-muted small-popup"
                      >Tên đăng nhập không được bỏ trống!</small
                    >
                    <small
                      *ngIf="f.username.errors.minlength"
                      class="text-muted small-popup"
                      >Tên đăng nhập phải ít nhất 6 kí tự!</small
                    >
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <div class="input-with-icon">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      formControlName="email"
                      autocomplete="off"
                    />
                    <i class="ti-email"></i>
                  </div>
                  <div *ngIf="submitted && f.email.errors">
                    <small
                      *ngIf="f.email.errors.required"
                      class="text-muted small-popup"
                      >Email không được bỏ trống!</small
                    >
                    <small
                      *ngIf="f.email.errors.email"
                      class="text-muted small-popup"
                      >Email không hợp lệ!</small
                    >
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <div class="input-with-icon">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Mật khẩu"
                      formControlName="password"
                      autocomplete="off"
                    />
                    <i class="ti-unlock"></i>
                  </div>
                  <div *ngIf="submitted && f.password.errors">
                    <small
                      *ngIf="f.password.errors.required"
                      class="text-muted small-popup"
                      >Password không được bỏ trống!</small
                    >
                    <small
                      *ngIf="f.password.errors.minlength"
                      class="text-muted small-popup"
                      >Password phải ít nhất 6 kí tự! <br
                    /></small>
                    <small
                      *ngIf="f.password.errors.pattern"
                      class="text-muted small-popup"
                      >Mật khẩu không được chứa khoảng trắng!</small
                    >
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <div class="input-with-icon">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Mật khẩu"
                      formControlName="confirmPassword"
                      autocomplete="off"
                    />
                    <i class="ti-unlock"></i>
                  </div>
                  <div *ngIf="submitted && f.confirmPassword.errors">
                    <small
                      *ngIf="f.confirmPassword.errors.required"
                      class="text-muted small-popup"
                    >
                      Confirm Password không được bỏ trống!
                    </small>
                    <small
                      *ngIf="f.confirmPassword.errors.minlength"
                      class="text-muted small-popup"
                      >Password phải ít nhất 6 kí tự! <br
                    /></small>
                    <small
                      *ngIf="f.confirmPassword.errors.mustMatch"
                      class="text-muted small-popup"
                      >Mật khẩu không trùng khớp!</small
                    >
                    <small
                      *ngIf="f.confirmPassword.errors.pattern"
                      class="text-muted small-popup"
                      >Mật khẩu không được chứa khoảng trắng!</small
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <button
                type="submit"
                class="btn btn-md full-width btn-theme-light-2 rounded"
              >
                Đăng Ký
              </button>
            </div>
            <!-- <pre>{{ signInForm.value | json }}</pre>
                  <pre>{{ customers | json }}</pre> -->
          </form>
        </div>
        <div class="modal-divider"><span>Hoặc đăng nhập bằng</span></div>
        <div class="social-login mb-3">
          <ul>
            <!--            <li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>-->
            <!-- <li style="display: contents; width: 100%">
              <a href="#" class="btn connect-google"
                ><i class="ti-google"></i>Google+</a
              >
            </li> -->
            <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
            <button type="button" (click)="loginWithGoogle()" class="btn btn-danger-gradiant w-100">Google</button>
          </ul>
        </div>  
        <div class="text-center">
          <i class="ti-user mr-1"></i>
          Bạn đã có tài khoản?
          <a routerLink="/dang-nhap" style="color: #1266e3">Đăng Nhập</a> Ngay
        </div>
      </div>
    </div>
  </div>
</div>
