<!-- ============================ User Dashboard ================================== -->
<section class="bg-light">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="filter_search_opt">
                    <a href="javascript:void(0);" (click)="openFilterSearch()">Dashboard Menu<i
                            class="ml-2 ti-menu"></i></a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-12">

                <div class="simple-sidebar sm-sidebar" id="filter_search">

                    <div class="search-sidebar_header">
                        <h4 class="ssh_heading">Đóng</h4>
                        <button (click)="openFilterSearch()" class="w3-bar-item w3-button w3-large"><i
                                class="ti-close"></i></button>
                    </div>

                    <div class="sidebar-widgets">
                        <div class="dashboard-navbar">

                            <app-dashboard-navigation></app-dashboard-navigation>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-9 col-md-12">
                <div class="dashboard-wraper">

                    <!-- Bookmark Property -->
                    <!-- <div class="form-submit">
                      <h4>Bài đăng của bạn</h4>
                  </div> -->

                    <div class="row">

                        <!-- Single Property -->
                        <div class="form-submit">
                            <h4>Danh sách liên hệ</h4>
                        </div>

                        <div class="row sd-list-right" *ngFor="let item of customerContacts">
                            <div class="col-md-8">
                              <h4 class="listing_dashboard_title">
                                <span>Họ tên khách hàng: </span>
                                <span class="text-primary">{{item.firstName }} {{item.lastName }}</span>
                              </h4>
                              <div class="user_dashboard_listed">
                                <span class="font-weight-bold">Email:</span> {{item.email }}
                              </div>
                              <div class="user_dashboard_listed">
                                <span class="font-weight-bold">Số điện thoại: </span> {{item.phone}}
                              </div>
                            </div>
                            <div class="col-md-4 action">
                                <a (click)="redirect(item)"
                                   title="Chi tiết" style="cursor: pointer">
                                    <i class="ti-eye"></i>
                                </a>
                              <span *ngIf="item.status == 0" class="badge badge-danger">Chưa liên hệ</span>
                              <span *ngIf="item.status == 1" class="badge badge-success">Đã liên hệ</span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

</section>
<!-- ============================ User Dashboard End ================================== -->
