<div class="container container-custom">
  <h2 class="pb-5 d-inline-block">Danh sách phòng</h2>
  <a routerLink="/manage/rooms/create" class="btn btn-primary float-right">Thêm mới</a>
  <div class="container mb-5 overflow-auto p-0">
    <div class="row m-0">
      <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="control-box ">
          <h5 class="p-3 m-0">Danh sách trọ thuê nhiều phòng</h5>
          <ul class="links">
              <li *ngFor="let item of rentals" class="p-2">
                <a (click)="change(item.id)" [ngClass]="item.active == true ? 'special': ''">{{ item.name }}</a>
              </li>
            </ul>
        </div>
      </div>
      <div class="col-lg-9 col-md-12 col-sm-12">
        <div>
          <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustomAction($event)"></ng2-smart-table>
        </div>
      </div>
    </div>
  </div>

</div>

