<div class="container">
  <div>
    <div class="d-flex justify-content-xxl-between">
      <div>
        <h2 class="pb-5">Danh sách phòng</h2>
      </div>
      <div>
        <a routerLink="/manage/rooms/create" class="btn btn-primary">Thêm mới</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="control-box ">
          <h5 class="p-3 m-0">Danh sách trọ thuê nhiều phòng</h5>
          <ul class="links">
              <li *ngFor="let item of rentals" class="p-2">
                <a (click)="change(item.id)" [ngClass]="item.active == true ? 'special': ''">{{ item.name }}</a>
              </li>
            </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div>
          <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustomAction($event)"></ng2-smart-table>
        </div>
      </div>
    </div>
  </div>

</div>

