<!-- ============================ Latest Property For Sale Start ================================== -->
<section class="pt-0">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-10 text-center">
        <div class="sec-heading center mb-4">
          <h2>Nhà trọ nổi bật</h2>
          <p>Fukuro nơi mang lại cho bạn sự yên tâm, chất lượng, giá cả hợp lí, dịch vụ tốt.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="property-slide">

          <!-- Single Property -->
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let item of rentalNews">
              <div class="single-items">
                <div class="property-listing shadow-none property-2 border" style="width: 390px;">

                  <div class="listing-img-wrapper">
                    <div class="list-img-slide">
                      <div class="click">
                        <div>
                          <a routerLink="/thue-nha-dat/{{ item.slug }}">
                            <img src="{{linkImg}}{{item.image[0]}}" class="img-fluid mx-auto" alt="" />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="listing-detail-wrapper">
                    <div class="listing-short-detail-wrap">
                      <div class="listing-short-detail">
                        <span *ngIf="item.type == 1" class="prt-types sale">Phòng trọ</span>
                        <span *ngIf="item.type == 2" class="prt-types sale">Mặt bằng</span>
                        <span *ngIf="item.type == 3" class="prt-types sale">Căn hộ</span>
                        <h4 class="listing-name"><a routerLink="/thue-nha-dat/{{ item.slug }}">{{ item.name }}</a></h4>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-between" style="padding-right: 1.5rem ">
                    <h6 class="listing-card-info-price" style="padding-left: 1.5rem !important; margin: 0 !important;">
                      {{item.price | number }} Vnđ
                    </h6>
                    <div class="prop-favorite" *ngIf="auth.isLoggedIn">
                      <i *ngIf="item.wishlist == true" class="far fa-heart" (click)="handleRemoveFromWishlist(item.id)"
                        style="color: palevioletred !important;">
                      </i>
                      <i *ngIf="item.wishlist == false" class="ti-heart" (click)="handleAddToWishlist(item.id)">
                      </i>
                    </div>
                    <div class="prop-favorite" *ngIf="!auth.isLoggedIn">
                      <a routerLink="dang-nhap">
                        <i class="ti-heart">
                        </i>
                      </a>
                    </div>
                  </div>

                  <div class="price-features-wrapper">
                    <div class="list-fx-features">
                      <div class="listing-card-info-icon">
                        <div class="inc-fleat-icon"><img src="assets/img/bed.svg"
                            style="width: 13px !important; height: 13px !important" alt="" /></div>{{item.quantity}}
                        phòng
                      </div>
                      <div class="listing-card-info-icon">
                        <div class="inc-fleat-icon"><img src="assets/img/bathtub.svg"
                            style="width: 13px !important; height: 13px !important" alt="" /></div>1 tolet
                      </div>
                      <div class="listing-card-info-icon">
                        <div class="inc-fleat-icon"><img src="assets/img/move.svg"
                            style="width: 13px !important; height: 13px !important" alt="" /></div>{{item.area}} m&#178;
                      </div>
                    </div>
                  </div>

                  <div class="listing-detail-footer">
                    <div class="footer-first">
                      <div class="foot-location"><img src="assets/img/pin.svg"
                          style="width: 18px !important; height: 18px !important" />{{item.address | slice:0:50 }}...
                      </div>
                    </div>
                    <div class="footer-flex">
                      <a routerLink="/thue-nha-dat/{{ item.slug }}" class="prt-view">Xem</a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================ Latest Property For Sale End ================================== -->
