.post-featured-img img {
    width: 100%;
}

.blog-details .img-fluid {
    height: 500px;
    object-fit: cover;
}

.questions-and-answers .post-top-meta .meta-comment-tag {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    margin-left: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.questions-and-answers .single-post-item {
    margin-bottom: 20px !important;
}

.questions-and-answers .questions-and-answers-comment {
    font-size: 15px !important;
}

.topicContent {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.topicContent .topicItem {
    display: flex;
    flex-direction: column;
    height: 60px;
    padding: 10px;
    width: calc(50% - 1px);
    background-color: rgb(247, 248, 249);
    border-radius: 4px;
    margin-bottom: 2px;
    font-size: 14px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.topicContent .topicItem div:first-child {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

.btn-qts {
    background-color: #0d6efd !important;
    margin-bottom: 10px !important;
}

.cat-active {
    font-weight: 600 !important;
}