<div class="full-search-2 eclip-search italian-search hero-search-radius shadow">
  <div class="hero-search-content">

    <div class="row">

      <div class="col-lg-3 col-md-3 col-sm-12 b-r">
        <div class="form-group borders">
          <div class="input-with-icon">
            <input type="text" class="form-control" placeholder="Từ khoá, đường, quận,...">
            <i class="ti-search"></i>
          </div>
        </div>
      </div>


      <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="form-group borders">
          <div class="input-with-icon">
            <select id="location" class="form-control">
              <option value="">Toàn quốc</option>
              <option value="1">Any Type</option>
              <option value="2">Apartment</option>
              <option value="3">Villas</option>
              <option value="4">Commercial</option>
              <option value="5">Offices</option>
              <option value="6">Garage</option>
            </select>
            <i class="ti-angle-down"></i>
            <i class="ti-home"></i>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="form-group borders">
          <div class="input-with-icon b-l">
            <select id="real-home" class="form-control">
              <option value="">Loại bất động sản</option>
              <option value="1">New York City</option>
              <option value="2">Chicago, Illinois</option>
              <option value="3">Las Vegas</option>
              <option value="4">New Orleans</option>
              <option value="5">San Francisco</option>
              <option value="6">Washington</option>
            </select>
            <i class="ti-angle-down"></i>
            <i class="ti-home"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="form-group borders">
          <div class="input-with-icon b-l">
            <select id="price-home" class="form-control">
              <option value="">Giá thành</option>
              <option value="1">New York City</option>
              <option value="2">Chicago, Illinois</option>
              <option value="3">Las Vegas</option>
              <option value="4">New Orleans</option>
              <option value="5">San Francisco</option>
              <option value="6">Washington</option>
            </select>
            <i class="ti-angle-down"></i>
            <i class="ti-money"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="form-group">
          <a href="#" class="btn search-btn">Tìm Kiếm</a>
        </div>
      </div>

    </div>
  </div>
</div>
