<!-- Log In Modal -->
<div class="login">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-header-title">Đặt lại mật khẩu</h4>
        <div class="login-form">
          <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">

            <div class="form-group">
              <label>Mật khẩu mới</label>
              <div class="input-with-icon">
                <input type="password" class="form-control" placeholder="Mật khẩu mới" formControlName="password">
                <i class="ti-user"></i>
              </div>
              <div *ngIf="submitted && f.password.errors">
                <small *ngIf="f.password.errors.required" class="text-muted small-popup">Mật khẩu mới không được bỏ
                  trống!</small>
                <small *ngIf="f.password.errors.minlength" class="text-muted small-popup">Password phải ít nhất 6 kí
                  tự! <br></small>
                <small *ngIf="f.password.errors.pattern" class="text-muted small-popup">Mật khẩu không được chứa
                  khoảng trắng!</small>

              </div>
            </div>

            <div class="form-group">
              <label>Xác nhận mật khẩu mới</label>
              <div class="input-with-icon">
                <input type="password" class="form-control" placeholder="Xác nhận mật khẩu mới" formControlName="cf_password">
                <i class="ti-unlock"></i>
              </div>
              <div *ngIf="submitted && f.cf_password.errors">
                <small *ngIf="f.cf_password.errors.required" class="text-muted small-popup">Xác nhận mật khẩu mới không được bỏ
                  trống!</small>
                <small *ngIf="f.cf_password.errors.minlength" class="text-muted small-popup">Mật khẩu phải ít
                  nhất 6 kí
                  tự! <br></small>
                <small *ngIf="f.cf_password.errors.mustMatch" class="text-muted small-popup">Mật khẩu không
                  trùng khớp!</small>
                <small *ngIf="f.cf_password.errors.pattern" class="text-muted small-popup">Mật khẩu không được
                  chứa khoảng trắng!</small>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-md full-width btn-theme-light-2 rounded">Cập nhật</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->
