<!-- ============================ User Dashboard ================================== -->
<section class="bg-light">
	<div class="container-fluid">

		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="filter_search_opt">
					<a href="javascript:void(0);" (click)="openFilterSearch()">Dashboard Menu<i
							class="ml-2 ti-menu"></i></a>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-lg-3 col-md-12">

				<div class="simple-sidebar sm-sidebar" id="filter_search">

					<div class="search-sidebar_header">
						<h4 class="ssh_heading">Đóng</h4>
						<button (click)="openFilterSearch()" class="w3-bar-item w3-button w3-large"><i
								class="ti-close"></i></button>
					</div>

					<div class="sidebar-widgets">
						<div class="dashboard-navbar">

							<app-dashboard-navigation></app-dashboard-navigation>

						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-9 col-md-12">
				<div class="dashboard-wraper">

					<div class="row">
						<!-- /.col -->

						<div class="text-95 col-sm-12 align-self-start justify-content-end">
							<hr class="d-sm-none" />
							<div class="text-grey-m2">
								<div class="mt-1 mb-2 text-secondary-m1 text-600 text-125">
									THÔNG TIN CHI TIẾT LIÊN HỆ
								</div>
                <div class="row">

                  <div class="form-group col-md-6">
                    <div>
                      <label>Họ</label>
                      <input type="text" class="form-control" [value]="customerContact.lastName" readonly>
                    </div>
                  </div>

                  <div class="form-group col-md-6">
                    <div>
                      <label>Tên</label>
                      <input type="text" class="form-control" [value]="customerContact.firstName" readonly>
                    </div>
                  </div>

                  <div class="form-group col-md-6">
                    <div>
                      <label>Email</label>
                      <input type="text" class="form-control" [value]="customerContact.email" readonly>
                    </div>
                  </div>

                  <div class="form-group col-md-6">
                    <div>
                      <label>Số điện thoại</label>
                      <input type="text" class="form-control" [value]="customerContact.phone" readonly>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <div>
                      <label>Nội dung liên hệ</label>
                      <textarea class="form-control simple" [value]="customerContact.message" readonly></textarea>
                    </div>
                  </div>

                  <div class="form-group col-lg-6 col-md-12">
                    <a href="tel:{{ customerContact.phone }}" class="btn btn-theme-light-2 rounded">
                      <i class="lni-phone-handset"></i> Gọi điện</a>
                  </div>
                  <div class="form-group col-lg-6 col-md-12" *ngIf="customerContact.status == 0">
                    <a routerLink="/my-account/customer-feedback/{{customerContact.id}}" class="btn btn-theme-light rounded float-right">
                      <i class="ti-email"></i> Gửi phản hồi</a>
                  </div>
                </div>
							</div>
						</div>
						<!-- /.col -->
					</div>
				</div>

			</div>
		</div>

	</div>

</section>
<!-- ============================ User Dashboard End ================================== -->
