<!-- ============================ Page Title Start================================== -->
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">

        <h2 class="ipt-title">Tạo mới trọ cho thuê</h2>

      </div>
    </div>
  </div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Agency List Start ================================== -->
<section>

  <div class="container">

    <form [formGroup]="rentalForm" (ngSubmit)="onSubmit()">
      <!-- row Start -->
      <div class="row">

        <div class="col-lg-12 col-md-12">

          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Tên trọ thuê *</label>
                <input type="text" class="form-control simple" formControlName="name">
                <div *ngIf="submitted && f.name.errors">
                  <small *ngIf="f.name.errors.required" class="text-muted small-popup">Tên trọ thuê không được bỏ trống !</small>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Địa chỉ</label>
                <input type="text" class="form-control simple" formControlName="address">
                <div *ngIf="submitted && f.address.errors">
                  <small *ngIf="f.address.errors.required" class="text-muted small-popup">Địa chỉ không được bỏ trống !</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Hình thức cho thuê *</label>
                <select id="status" name="status" class="form-control simple" formControlName="type" (click)="change($event)">
                  <option value="">Chọn hình thức cho thuê</option>
                  <option value="1">Nhà trọ nhiều phòng</option>
                  <option value="2">Mặt bằng</option>
                  <option value="3">Căn hộ</option>
                </select>
                <div *ngIf="submitted && f.type.errors">
                  <small *ngIf="f.type.errors.required" class="text-muted small-popup">Hình thức cho thuê không được bỏ trống !</small>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6" *ngIf="isRentals == false">
              <div class="form-group">
                <label>Giá cho thuê</label>
                <input type="text" class="form-control simple" formControlName="price">
                <div *ngIf="submitted && f.price.errors">
                  <small *ngIf="f.price.errors.pattern" class="text-muted small-popup"> Giá cho thuê phải là kiểu số !</small>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Mô tả chi tiết</label>
            <textarea class="form-control simple" formControlName="note"></textarea>
          </div>

        </div>
        <div class="form-group mt-3">
          <button class="btn btn-theme-light-2 rounded" type="submit">Tạo mới</button>
        </div>
      </div>
      <!-- /row -->
    </form>

  </div>

</section>
<!-- ============================ Agency List End ================================== -->
