<!-- ============================ Page Title Start================================== -->
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">

        <h2 class="ipt-title">Tạo mới hoá đơn</h2>

      </div>
    </div>
  </div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Agency List Start ================================== -->
<section>

  <div class="container">

    <form [formGroup]="billForm" (ngSubmit)="onSubmit()">
      <!-- row Start -->
      <div class="row">

        <div class="col-lg-12 col-md-12">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Tên hoá đơn</label>
                <input type="text" class="form-control simple" formControlName="name">
                <div *ngIf="submitted && f.name.errors">
                  <small *ngIf="f.name.errors.required" class="text-muted small-popup">Tên hoá đơn không được bỏ trống !</small>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Giá tiền thuê</label>
                <input type="text" class="form-control simple" formControlName="price">
                <div *ngIf="submitted && f.price.errors">
                  <small *ngIf="f.price.errors.required" class="text-muted small-popup">Giá tiền phòng không được bỏ trống !</small>
                  <small *ngIf="f.price.errors.pattern" class="text-muted small-popup">Giá tiền phòng phải là kiểu số!</small>
                  <small *ngIf="f.price.errors.minlength" class="text-danger small-popup">Giá tiền phòng phải lớn hơn hoặc bằng 0!</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Tiền Internet</label>
                <input type="text" class="form-control simple" formControlName="internetFee">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Trả trước</label>
                <input type="text" class="form-control simple" formControlName="prepay">
                <div *ngIf="submitted && f.prepay.errors">
                  <small *ngIf="f.prepay.errors.required" class="text-muted small-popup">Tiền trả trước phải là kiểu số!</small>
                  <small *ngIf="f.prepay.errors.minlength" class="text-danger small-popup">Tiền trả trước phải lớn hơn hoặc bằng 0!</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-submit mt-5">
          <h4>Tính tiền điện</h4>
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="form-group">
                <label>Chỉ số đầu</label>
                <input type="text" class="form-control simple" formControlName="electricityStart" (ngModelChange)="electricityChange()">
                <div *ngIf="submitted && f.electricityStart.errors">
                  <small *ngIf="f.electricityStart.errors.required" class="text-muted small-popup">Chỉ số đầu không được bỏ trống !</small>
                  <small *ngIf="f.electricityStart.errors.pattern" class="text-muted small-popup">Chỉ số đầu phải là kiểu số!</small>
                  <small *ngIf="f.electricityStart.errors.minlength" class="text-danger small-popup">Chỉ số đầu phải lớn hơn hoặc bằng 0!</small>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="form-group">
                <label>Chỉ số cuối</label>
                <input type="text" class="form-control simple" formControlName="electricityEnd" (ngModelChange)="electricityChange()">
                <div *ngIf="submitted && f.electricityEnd.errors">
                  <small *ngIf="f.electricityEnd.errors.required" class="text-muted small-popup">Chỉ số cuối không được bỏ trống !</small>
                  <small *ngIf="f.electricityEnd.errors.pattern" class="text-muted small-popup">Chỉ số cuối phải là kiểu số!</small>
                  <small *ngIf="f.electricityEnd.errors.minlength" class="text-danger small-popup">Chỉ số cuối phải lớn hơn hoặc bằng 0!</small>
                </div>
                <div *ngIf="submitted && f.electricityStart.value > f.electricityEnd.value" >
                  <small class="text-danger small-popup">Chỉ số cuối phải lớn hơn chỉ số đầu bắt đầu!</small>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="form-group">
                <label>Giá tiền điện</label>
                <input type="text" class="form-control simple" formControlName="electricityPrice" (ngModelChange)="electricityMoney()">
                <div *ngIf="submitted && f.electricityPrice.errors">
                  <small *ngIf="f.electricityPrice.errors.required" class="text-muted small-popup">Giá tiền điện không được bỏ trống !</small>
                  <small *ngIf="f.electricityPrice.errors.pattern" class="text-muted small-popup">Giá tiền điện phải là kiểu số!</small>
                  <small *ngIf="f.electricityPrice.errors.minlength" class="text-danger small-popup">Giá tiền điện phải lớn hơn hoặc bằng 0!</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Số lượng</label>
                <input type="text" class="form-control simple" readonly formControlName="electricityQuantity">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Tổng tiền điện</label>
                <input type="text" class="form-control simple" readonly formControlName="electricityAmount">
              </div>
            </div>
          </div>
        </div>
        <div class="form-submit mt-5">
          <h4>Tính tiền nước</h4>
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="form-group">
                <label>Chỉ số đầu</label>
                <input type="text" class="form-control simple" formControlName="waterStart" (ngModelChange)="waterChange()">
                <div *ngIf="submitted && f.waterStart.errors">
                  <small *ngIf="f.waterStart.errors.required" class="text-muted small-popup">Chỉ số đầu không được bỏ trống !</small>
                  <small *ngIf="f.waterStart.errors.pattern" class="text-muted small-popup">Chỉ số đầu phải là kiểu số!</small>
                  <small *ngIf="f.waterStart.errors.minlength" class="text-danger small-popup">Chỉ số đầu phải lớn hơn hoặc bằng 0!</small>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="form-group">
                <label>Chỉ số cuối</label>
                <input type="text" class="form-control simple" formControlName="waterEnd" (ngModelChange)="waterChange()">
                <div *ngIf="submitted && f.waterEnd.errors">
                  <small *ngIf="f.waterEnd.errors.required" class="text-muted small-popup">Chỉ số cuối không được bỏ trống !</small>
                  <small *ngIf="f.waterEnd.errors.pattern" class="text-muted small-popup">Chỉ số cuối phải là kiểu số!</small>
                  <small *ngIf="f.waterEnd.errors.minlength" class="text-danger small-popup">Chỉ số cuối phải lớn hơn hoặc bằng 0!</small>
                </div>
                <div *ngIf="submitted && f.waterStart.value > f.waterEnd.value" >
                  <small class="text-danger small-popup">Chỉ số cuối phải lớn hơn chỉ số đầu bắt đầu!</small>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="form-group">
                <label>Giá tiền nước</label>
                <input type="text" class="form-control simple" formControlName="waterPrice" (ngModelChange)="waterMoney()">
                <div *ngIf="submitted && f.waterPrice.errors">
                  <small *ngIf="f.waterPrice.errors.required" class="text-muted small-popup">Giá tiền điện không được bỏ trống !</small>
                  <small *ngIf="f.waterPrice.errors.pattern" class="text-muted small-popup">Giá tiền điện phải là kiểu số!</small>
                  <small *ngIf="f.waterPrice.errors.minlength" class="text-danger small-popup">Giá tiền điện phải lớn hơn hoặc bằng 0!</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Số lượng</label>
                <input type="text" class="form-control simple" readonly formControlName="waterQuantity">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Tổng tiền nước</label>
                <input type="text" class="form-control simple" readonly formControlName="waterAmount" >
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Phí phát sinh (nếu có)</label>
              <input type="text" class="form-control simple" formControlName="otherFee">
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Mô tả phí phát sinh</label>
              <input type="text" class="form-control simple" formControlName="feeDesc">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Giảm giá %</label>
              <input type="text" class="form-control simple" formControlName="discountPrice">
              <div *ngIf="submitted && f.discountPrice.errors">
                <small *ngIf="f.discountPrice.errors.pattern" class="text-muted small-popup">Giảm giá phải là kiểu số!</small>
                <small *ngIf="f.discountPrice.errors.minlength" class="text-danger small-popup">Giảm giá phải lớn hơn hoặc bằng 0!</small>
              </div>
            </div>
          </div>
<!--          <div class="col-lg-6 col-md-6">-->
<!--            <div class="form-group">-->
<!--              <label>Tổng tiền</label>-->
<!--              <input type="text" class="form-control simple" formControlName="totalPrice" readonly>-->
<!--            </div>-->
<!--          </div>-->
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Trạng thái thanh toán</label>
              <select class="form-control simple" formControlName="status">
                <option value="">Chọn trạng thái thanh toán</option>
                <option value="1">Đã thanh toán</option>
                <option value="0">Chưa thanh toán</option>
              </select>
              <div *ngIf="submitted && f.status.errors">
                <small *ngIf="f.status.errors.required" class="text-muted small-popup">Vui lòng chọn trạng thái thanh toán!</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Nhà trọ</label>
              <select id="status" name="status" class="form-control simple" formControlName="rentalId" (click)="change($event)">
                <option value="">Chọn trọ thuê</option>
                <option *ngFor="let item of rentals" [value]="item.id">{{ item.name }}</option>
              </select>
              <div *ngIf="submitted && f.rentalId.errors">
                <small *ngIf="f.rentalId.errors.required" class="text-muted small-popup">Vui lòng chọn trọ thuê!</small>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" *ngIf="isRoom == 1">
            <div class="form-group">
              <label>Phòng trọ</label>
              <select class="form-control simple" formControlName="rentalRoomId">
                <option *ngFor="let rm of rooms" [value]="rm.id">{{ rm.name }}</option>
              </select>
            </div>
          </div>
        </div>
<!--        <div class="row">-->
<!--          <div class="col-lg-6 col-md-6">-->
<!--          <div class="form-group">-->
<!--            <label>Trạng thái thanh toán</label>-->
<!--            <select class="form-control simple" formControlName="status">-->
<!--              <option value="">Chọn trạng thái thanh toán</option>-->
<!--              <option value="1">Đã thanh toán</option>-->
<!--              <option value="0">Chưa thanh toán</option>-->
<!--            </select>-->
<!--            <div *ngIf="submitted && f.status.errors">-->
<!--              <small *ngIf="f.status.errors.required" class="text-muted small-popup">Vui lòng chọn trạng thái thanh toán!</small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        </div>-->
        <div class="form-group">
          <label>Ghi chú</label>
          <textarea class="form-control simple" formControlName="note"></textarea>
        </div>
        <div class="form-group mt-3">
          <button class="btn btn-theme-light-2 rounded" type="submit">Tạo mới</button>
        </div>
      </div>
      <!-- /row -->
    </form>

  </div>

</section>
<!-- ============================ Agency List End ================================== -->
