<!-- ============================ User Dashboard ================================== -->
<section class="bg-light">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="filter_search_opt">
                    <a href="javascript:void(0);" (click)="openFilterSearch()">Dashboard Menu<i
                            class="ml-2 ti-menu"></i></a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-12">

                <div class="simple-sidebar sm-sidebar" id="filter_search">

                    <div class="search-sidebar_header">
                        <h4 class="ssh_heading">Đóng</h4>
                        <button (click)="openFilterSearch()" class="w3-bar-item w3-button w3-large"><i
                                class="ti-close"></i></button>
                    </div>

                    <div class="sidebar-widgets">
                        <div class="dashboard-navbar">

                            <app-dashboard-navigation></app-dashboard-navigation>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-9 col-md-12">
                <div class="dashboard-wraper">

                    <!-- Bookmark Property -->
                    <!-- <div class="form-submit">
                      <h4>Bài đăng của bạn</h4>
                  </div> -->

                    <div class="row">

                        <!-- Single Property -->
                        <div class="form-submit">
                            <h4>Lịch sử thanh toán</h4>
                        </div>

                        <div class="row sd-list-right" *ngFor="let item of premiumBill">
                            <div class="col-md-8">
                                <h4 class="listing_dashboard_title">
                                    <span>Tên hoá đơn:</span>
                                    <a routerLink="/my-account/order-history/{{ item.id }}" class="theme-cl">
                                        {{item.name}}
                                    </a>
                                </h4>
                                <div class="user_dashboard_listed">
                                    Giá: {{item.price | number }} Vnđ
                                </div>
                                <div class="user_dashboard_listed">
                                    Ngày tạo: {{item.createdAt | date: 'dd/MM/yyyy'}}
                                </div>
                                <div class="user_dashboard_listed">
                                    Thời hạn: {{item.expire}} tháng
                                </div>
                            </div>
                            <div class="col-md-4 action">
                                <a routerLink="/my-account/order-history/{{ item.id }}" title="{{item.name}}">
                                    <i class="ti-eye"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

</section>
<!-- ============================ User Dashboard End ================================== -->
