<!-- ============================ Page Title Start================================== -->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="full-search-2 eclip-search italian-search hero-search-radius shadow">
                    <div class="hero-search-content">

                        <div class="row">

                            <div class="col-lg-3 col-md-3 col-sm-12 b-r">
                                <div class="form-group borders">
                                    <div class="input-with-icon">
                                        <input type="text" class="form-control" value="DANH SÁCH HỎI, ĐÁP" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <div class="form-group borders">
                                    <div class="input-with-icon">
                                        <input type="text" class="form-control" placeholder="Từ khoá...">
                                        <i class="ti-search"></i>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <div class="form-group borders">
                                    <div class="input-with-icon b-l">
                                        <select id="real-home" class="form-control" style="cursor: pointer;">
                                            <option value="">Chuyên mục hỏi đáp</option>
                                            <select name="status" class="form-control">
                                                <option value="">Chọn chuyên mục</option>
                                                <option *ngFor="let cn of cat"><a
                                                        href="/danh-muc-bai-viet/{{cn.slug}}">{{cn.name}}</a></option>

                                            </select>
                                        </select>
                                        <i class="ti-angle-down"></i>
                                        <i class="ti-home"></i>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <div class="form-group">
                                    <a href="#" class="btn search-btn">Tìm Kiếm</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Agency List Start ================================== -->
<div class="blog-page">
    <div class="blog-details">
        <section class="gray-simple">

            <div class="container">

                <!-- row Start -->
                <div class="row">

                    <!-- Single blog Grid -->
                    <div class="col-lg-3 col-md-12 col-sm-12 col-12">

                        <!-- Tags Cloud -->
                        <div class="single-widgets widget_category">
                            <h4 class="title">Chuyên mục</h4>
                            <ul>
                                <li *ngFor="let cn of cat" [ngClass]="(cn.id==questions_details.questionCategoryId)?'cat-active':''">
                                    <a href="/danh-muc-bai-viet/{{cn.slug}}">{{cn.name}}</a>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <!-- Blog Detail -->
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 questions-and-answers">
                        <div class="blog-details single-post-item format-standard">
                            <div class="post-details">
                                <div class="post-featured-img">
                                    <h5>{{questions_details.title}}</h5>
                                    <p>{{questions_details.content}}</p>
                                </div>
                                <div class="pt-3 post-top-meta">
                                    <div class="post-top-meta">
                                        <ul class="meta-comment-tag questions-and-answers-comment pl-0 ml-0">
                                            <li>
                                                <a (click)="collapse.toggle()" class="text-success collapse-answer" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                                                    <i class="ti-pencil-alt" aria-hidden="true"></i> Trả lời
                                                </a>
                                            </li>
                                            <li>
                                                <a class="text-success" *ngIf="anw">
                                                    <span class="icons"><i
                                                            class="ti-comment-alt"></i></span>{{countanwbyID}} câu trả lời
                                                </a>
                                                <a class="text-success" *ngIf="!anw">
                                                    <span class="icons"><i
                                                            class="ti-comment-alt"></i></span>0 câu trả lời
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                                        <div class="blog-details single-post-item format-standard">
                                            <div class="comment-area">
                                                <div class="all-comments">
                                                    <div class="comment-list">
                                                        <ul>
                                                            <li class="single-comment">
                                                                <article class="mb-0">
                                                                    <div class="comment-author" *ngIf="name" style="
                                                                    font-weight: 600;
                                                                    font-size: 67%;
                                                                ">
                                                                        <img src="{{avatar}}" alt="" style="width: 30% !important;"> {{name}}
                                                                    </div>
                                                                </article>
                                                            </li>
                                                        </ul>
                                                        <form [formGroup]="answers" (ngSubmit)="onSubmit()">
                                                            <div>
                                                                <input formControlName="question_id" type="hidden">
                                                                <textarea type="text" class="form-control" formControlName="content" placeholder="Nội dung câu trả lời ở đây"></textarea>
                                                                <!-- <div *ngIf="submitted && f.content.errors">
                                                                    <small *ngIf="f.content.errors.required" class="text-danger small-popup">Nội dung bình
                                    luận không được bỏ trống!</small>
                                                                </div> -->
                                                            </div>

                                                            <button type="submit" class="btn btn-md  btn-theme-light-2 rounded">Gửi</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>


                                <!-- Blog Comment -->
                                <div class="blog-details single-post-item format-standard">

                                    <div class="comment-area">
                                        <div class="all-comments">
                                            <div class="comment-list" *ngIf="anw">
                                                <ul *ngFor="let anw of anw | paginate: { itemsPerPage: 6, currentPage: cp }">
                                                    <li class="single-comment">
                                                        <article>
                                                            <div class="comment-author">
                                                                <img *ngIf="anw.Customer.avatar" src="{{anw.Customer.avatar}}" alt="">
                                                                <img *ngIf="!anw.Customer.avatar" src="https://via.placeholder.com/400x400" alt="">
                                                            </div>
                                                            <div class="comment-details">
                                                                <div class="comment-meta">
                                                                    <div class="comment-left-meta">
                                                                        <h4 class="author-name">
                                                                            {{anw.Customer.username}}</h4>
                                                                        <div class="comment-date">{{anw.updatedAt | date: 'dd/MM/yyyy'}}</div>
                                                                    </div>
                                                                </div>
                                                                <div class="comment-text mt-2">
                                                                    <p>{{anw.content}}</p>
                                                                </div>
                                                            </div>
                                                        </article>
                                                        <div class="post-top-meta">
                                                            <ul class="meta-comment-tag questions-and-answers-comment pl-0 ml-0">
                                                                <li><span class="icons">
                                                                            <i *ngIf="buttonlike == true" (click)="likeButtonclick(anw.id)"
                                                                                class="far fa-thumbs-up"
                                                                                style="color: rgb(7, 7, 7) !important;">
                                                                            </i>
                                                                            <i *ngIf="buttonlike == false" (click)="likeButtonclick(anw.id)"
                                                                                class="far fa-thumbs-up"
                                                                                style="color: rgb(177, 177, 177) !important;">
                                                                            </i>

                                                                        </span>{{anw.count_like}}</li>
                                                                <li><span class="icons">
                                                                    <i (click)="disklikeButtonclick(anw.id)"
                                                                        class="far fa-thumbs-down"
                                                                        style="color: rgb(7, 7, 7) !important;">
                                                                    </i>
                                                                    <!-- <i *ngIf="anw.dislike==0" (click)="disklikeButtonclick()"
                                                                        class="far fa-thumbs-down"
                                                                        style="color: rgb(177, 177, 177) !important;">
                                                                    </i> -->
                                                                        </span>{{anw.count_dislike}}</li>
                                                                <hr>
                                                                <div #collapse2="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
                                                                    <div class="blog-details single-post-item format-standard">
                                                                        <div class="comment-area">
                                                                            <div class="all-comments">
                                                                                <div class="comment-list">
                                                                                    <ul class="p-0">
                                                                                        <li class="single-comment">
                                                                                            <article class="mb-0">
                                                                                                <div class="comment-author">
                                                                                                    <img src="https://via.placeholder.com/400x400" alt="" style="width: 50% !important;"> Toản
                                                                                                </div>
                                                                                            </article>
                                                                                        </li>
                                                                                    </ul>
                                                                                    <textarea></textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <!-- Pagination -->
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                        <ul class="pagination p-center">
                                                            <pagination-controls (pageChange)="cp = $event" previousLabel="Trước" nextLabel="Sau">
                                                            </pagination-controls>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="!anw">Chưa có câu trả lời cho câu hỏi này !!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Single blog Grid -->
                    <div class="col-lg-3 col-md-12 col-sm-12 col-12">

                        <!-- Categories -->
                        <div class="single-widgets widget_category">
                            <h4 class="title">Thống kê</h4>
                            <ul class="topicContent">
                                <li class="topicItem">
                                    <div>{{countquestion}}</div>
                                    <div>Câu hỏi</div>
                                </li>
                                <li class="topicItem">
                                    <div>{{countanw}}</div>
                                    <div>Trả lời</div>
                                </li>
                                <li class="topicItem">
                                    <div>3</div>
                                    <div>Trả lời hay</div>
                                </li>
                                <li class="topicItem">
                                    <div>{{countuser}}</div>
                                    <div>Thành viên</div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- /row -->

            </div>

        </section>
    </div>
</div>
<!-- ============================ Agency List End ================================== -->