<!-- ============================ Page Title Start================================== -->
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">

        <h2 class="ipt-title">Liên hệ với chúng tôi</h2>
        <span class="ipn-subtitle">Danh sách tất cả các đại lý phổ biến của chúng tôi</span>

      </div>
    </div>
  </div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Agency List Start ================================== -->
<section>

  <div class="container">

    <form [formGroup]="contact" (ngSubmit)="onSubmit()">
    <!-- row Start -->
    <div class="row">

      <div class="col-lg-7 col-md-7">

        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Họ</label>
              <input type="text" class="form-control simple"  formControlName="lastName">
              <div *ngIf="submitted && f.lastName.errors">
                <small *ngIf="f.lastName.errors.required" class="text-muted small-popup">Họ không được bỏ
                  trống!</small>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Tên</label>
              <input type="text" class="form-control simple"  formControlName="firstName">
              <div *ngIf="submitted && f.firstName.errors">
                <small *ngIf="f.firstName.errors.required" class="text-muted small-popup">Tên không được bỏ
                  trống!</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control simple" formControlName="email">
              <div *ngIf="submitted && f.email.errors">
                <small *ngIf="f.email.errors.required" class="text-muted small-popup">Email không được bỏ
                  trống!</small>
                <small *ngIf="f.email.errors.email" class="text-muted small-popup">Email không hợp lệ!</small>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Số điện thoại</label>
              <input type="text" class="form-control simple" formControlName="phone">
              <div *ngIf="submitted && f.phone.errors">
                <small *ngIf="f.phone.errors.required" class="text-muted small-popup">Số điện thoại không được bỏ
                  trống!</small>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Tiêu đề</label>
          <input type="text" class="form-control simple" formControlName="subject">
          <div *ngIf="submitted && f.subject.errors">
            <small *ngIf="f.subject.errors.required" class="text-muted small-popup">Tiêu đề không được bỏ
              trống!</small>
          </div>
        </div>

        <div class="form-group">
          <label>Nội dung</label>
          <textarea class="form-control simple" formControlName="message"></textarea>
          <div *ngIf="submitted && f.message.errors">
            <small *ngIf="f.message.errors.required" class="text-muted small-popup">Nội dung không được bỏ
              trống!</small>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-theme-light-2 rounded" type="submit">Gửi Liên Hệ</button>
        </div>

      </div>

      <div class="col-lg-5 col-md-5">
        <div class="contact-info">

          <h2>Thông Tin Liên Hệ</h2>
          <p>Mọi ý kiến, đóng góp, phản hồi của các bạn đến với chúng tôi. Chính là động lực để chúng
            tôi ngày càng xây dựng website hoàn thiện hơn. Trân trọng cảm ơn các bạn!</p>

          <div class="cn-info-detail">
            <div class="cn-info-icon">
              <i class="ti-home"></i>
            </div>
            <div class="cn-info-content">
              <h4 class="cn-info-title">Địa chỉ</h4>
              288, Nguyễn Văn Linh, <br>An Khánh, Ninh Kiều, TP. Cần Thơ
            </div>
          </div>

          <div class="cn-info-detail">
            <div class="cn-info-icon">
              <i class="ti-email"></i>
            </div>
            <div class="cn-info-content">
              <h4 class="cn-info-title">Email</h4>
              support@fpt.edu.com<br>Rikada@gmail.com
            </div>
          </div>

          <div class="cn-info-detail">
            <div class="cn-info-icon">
              <i class="ti-mobile"></i>
            </div>
            <div class="cn-info-content">
              <h4 class="cn-info-title">Số điện thoại</h4>
              (84) 123 521 458<br>+84 822 576 436
            </div>
          </div>

        </div>
      </div>

    </div>
    <!-- /row -->
    </form>

  </div>

</section>
<!-- ============================ Agency List End ================================== -->
