<!-- ============================ Price Table Start ================================== -->
<section>
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-10 text-center">
        <div class="sec-heading center">
          <h2>Gói dịch vụ đăng tin</h2>
          <p>Nhưng, quả thật, cả hai chúng ta đều buộc tội họ, và cho rằng họ đáng bị chỉ là hận thù nhất, những người,
            bằng sự tâng
            bốc của những thú vui hiện tại, được xoa dịu và hư hỏng bởi những nỗi buồn đó.</p>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-4" *ngFor=" let item of premium">
        <div class="pricing-wrap standard-pr">

          <div class="pricing-header">
            <h4 class="pr-value"><sup>VNĐ</sup>{{item.price | number}}</h4>
            <h4 class="pr-title">{{item.name}}</h4>
          </div>
          <div class="pricing-body">
            <ul>
              <li class="available">
                {{item.description}}
              </li>
            </ul>
          </div>
          <div class="pricing-bottom">
            <a routerLink="/thanh-toan" class="btn-pricing">Mua Ngay</a>
          </div>

        </div>
      </div>
      <!--
      <div class="col-lg-4 col-md-4">
        <div class="pricing-wrap basic-pr">

          <div class="pricing-header">
            <h4 class="pr-value"><sup>VNĐ</sup>49K</h4>
            <h4 class="pr-title">Gói Basic</h4>
          </div>
          <div class="pricing-body">
            <ul>
              <li class="available">Tối đa 20 tin
                Làm mới 1 lần/tin/ngày
              </li>
            </ul>
          </div>
          <div class="pricing-bottom">
            <a routerLink="/thanh-toan" class="btn-pricing">Mua Ngay</a>
          </div>

        </div>
      </div> -->

      <!-- Single Package -->
      <!-- <div class="col-lg-4 col-md-4">
        <div class="pricing-wrap platinum-pr recommended">

          <div class="pricing-header">
            <h4 class="pr-value"><sup>VNĐ</sup>99K</h4>
            <h4 class="pr-title">Gói Platinum</h4>
          </div>
          <div class="pricing-body">
            <ul>
              <li class="available">Tối đa 100 tin
                Làm mới 1 lần/tin/ngày
              </li>
            </ul>
          </div>
          <div class="pricing-bottom">
            <a routerLink="/thanh-toan" class="btn-pricing">Mua Ngay</a>
          </div>

        </div>
      </div> -->

      <!-- Single Package -->
      <!-- <div class="col-lg-4 col-md-4">
        <div class="pricing-wrap standard-pr">

          <div class="pricing-header">
            <h4 class="pr-value"><sup>VNĐ</sup>199K</h4>
            <h4 class="pr-title">Gói Standard</h4>
          </div>
          <div class="pricing-body">
            <ul>
              <li class="available">Tối đa 300 tin
                Làm mới 1 lần/tin/ngày
              </li>
            </ul>
          </div>
          <div class="pricing-bottom">
            <a routerLink="/thanh-toan" class="btn-pricing">Mua Ngay</a>
          </div>

        </div>
      </div> -->

    </div>

  </div>
</section>
<!-- ============================ Price Table End ================================== -->
