<!-- ============================ Hero Banner  Start================================== -->
<app-banner></app-banner>
<!-- ============================ Hero Banner  End ================================== -->
<!-- ============================ Latest Property For Sale Start ================================== -->
<app-latest-property></app-latest-property>
<!-- ============================ Latest Property For Sale End ================================== -->

<!-- ============================ featured Property For Sale Start ================================== -->
<app-featured-property></app-featured-property>
<!-- ============================ featured Property For Sale End ================================== -->

<!-- ============================ Laste News ================================== -->
<app-latest-news></app-latest-news>
<!-- ============================ Laste News ================================== -->

<!-- ============================ Price Table Start ================================== -->
<app-order-package></app-order-package>
<!-- ============================ Price Table End ================================== -->
