<!-- ============================ Hero Banner  Start================================== -->
<div class="image-cover hero-banner" style="background:#2540a2 url(assets/img/banner-6.png) no-repeat;"
  data-overlay="4">
  <div class="container">

    <h1 class="big-header-capt mb-0">An tâm chọn, An tâm thuê</h1>
    <p class="text-center mb-5"></p>

    <!-- Search Start -->
    <app-motel-search></app-motel-search>
    <!-- Search End -->

  </div>
</div>
<!-- ============================ Hero Banner End ================================== -->
