<!-- Log In Modal -->
<div class="login">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-header-title">Lấy lại mật khẩu</h4>
        <div class="login-form" *ngIf="done == false">
          <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()">

            <div class="form-group">
              <label>Tên đăng nhập</label>
              <div class="input-with-icon">
                <input type="text" class="form-control" placeholder="Tên đăng nhập" formControlName="username">
                <i class="ti-user"></i>
              </div>
              <div *ngIf="submitted && f.username.errors">
                <small *ngIf="f.username.errors.required" class="text-muted small-popup">Tên đăng nhập không được bỏ
                  trống!</small>
                <small *ngIf="f.username.errors.minlength" class="text-muted small-popup">Tên đăng nhập phải ít nhất
                  6 kí tự!</small>
              </div>
            </div>

            <div class="form-group">
              <label>Email</label>
              <div class="input-with-icon">
                <input type="email" class="form-control" placeholder="Email" formControlName="email">
                <i class="ti-unlock"></i>
              </div>
              <div *ngIf="submitted && f.email.errors">
                <small *ngIf="f.email.errors.required" class="text-muted small-popup">Email không được bỏ
                  trống!</small>
                <small *ngIf="f.email.errors.email" class="text-muted small-popup">Email không hợp lệ! <br></small>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-md full-width btn-theme-light-2 rounded">Gửi</button>
            </div>

          </form>
        </div>
        <div *ngIf="done == true">
          <p class="text-success text-center">Yêu cầu đặt lại mật khẩu đã gửi thành công! Vui lòng kiểm tra email!!!</p>
        </div>
        <div class="text-center">

          <a routerLink="/dang-nhap" style="color: #1266e3"><i class="ti-arrow-left mr-1"></i> Đăng nhập</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->
