<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->
<!-- Start Navigation -->
<div class="header header-light head-shadow">
  <div class="container">
    <nav id="navigation" class="navigation navigation-landscape">
      <div class="nav-header">
        <a class="nav-brand" routerLink="">
          <img src="assets/img/logofukuro.png" class="logo" alt="" />
        </a>
        <div class="nav-toggle"></div>
      </div>
      <div class="nav-menus-wrapper" style="transition-property: none;">
        <ul class="nav-menu">

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="">Trang Chủ<span
                class="submenu-indicator"></span></a>
          </li>

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="thue-nha-dat">Tìm
              Thuê<span class="submenu-indicator"></span></a>
          </li>

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="hoi-dap">Hỏi
              Đáp<span class="submenu-indicator"></span></a>
          </li>

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="bai-viet">Bài
              Viết<span class="submenu-indicator"></span></a>
            <ul class="nav-dropdown nav-submenu">
              <li *ngFor="let cat of cat">
                <a routerLink="/danh-muc-bai-viet/{{cat.slug}}">{{cat.name}}</a>
              </li>
            </ul>
          </li>

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="lien-he">Liên
              Hệ</a></li>

        </ul>

        <ul class="nav-menu nav-menu-social align-to-right nav-res" *ngIf="!auth.isLoggedIn">
          <li>
            <a routerLink="dang-ky" class="text-success">Đăng Ký</a>
          </li>
          <li class="add-listing" routerLinkActive="active">
            <a routerLink="dang-nhap"><img src="assets/img/user-light.svg" width="12" alt="" class="mr-2" />Đăng
              Nhập</a>
          </li>
        </ul>
        <ul class="nav-menu nav-menu-social align-to-right nav-res" *ngIf="auth.isLoggedIn">
          <li>
            <div ngbDropdown class="d-inline-block" *ngIf="auth.isLoggedIn">
              <a id="dropdownBasic1" ngbDropdownToggle style="padding: 10px;">
                <div class="avatar avatar-md avatar-indicators avatar-online">
                  <img *ngIf="avatar" alt="avatar" src="{{avatar}}" class="rounded-circle">
                  <img *ngIf="!avatar" alt="avatar" src="https://via.placeholder.com/40x40"
                       class="rounded-circle">
                </div>
                <span *ngIf="name == undefined">{{name}}</span>
                <span *ngIf="name != undefined">{{username}}</span>
              </a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>
                  <a class="dropdown-item dropright-lg dropdown-list-group-item" routerLink="my-account/renal-manage">
                      <span class="mr-1">
                        <i class="ti-home"></i>
                      </span>
                    Quản lí tin cho thuê
                  </a>
                </button>
                <button ngbDropdownItem>
                  <a class="dropdown-item dropright-lg" routerLink="my-account/my-profile">
                      <span class="mr-1">
                        <i class="ti-user"></i>
                      </span>
                    Thông tin tài khoản
                  </a>
                </button>
                <button ngbDropdownItem>
                  <a class="dropdown-item dropright-lg" routerLink="my-account/notification">
                      <span class="mr-1">
                        <i class="ti-bell"></i>
                      </span>
                    Thông báo
                  </a>
                </button>
                <button ngbDropdownItem>
                  <a class="dropdown-item dropright-lg" routerLink="my-account/bookmark">
                      <span class="mr-1">
                        <i class="ti-heart"></i>
                      </span>
                    Tin đã lưu
                  </a>
                </button>
                <button ngbDropdownItem>
                  <a class="dropdown-item dropright-lg" routerLink="my-account/change-password">
                    <span class="mr-1">
                      <i class="ti-key"></i>
                    </span>
                    Đổi mật khẩu
                  </a>
                </button>
                <button ngbDropdownItem>
                  <a class="dropdown-item dropright-lg" (click)="auth.logout()">
                    <span class="mr-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                           class="feather feather-power">
                        <path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path>
                        <line x1="12" y1="2" x2="12" y2="12"></line>
                      </svg></span>Đăng xuất
                  </a>
                </button>
              </div>
            </div>
          </li>
          <li class="add-listing add-bg1">
            <a routerLink="dang-bai" class="text-success" style="color: #0499a8 !important;">Đăng
              Bài</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- End Navigation -->
<div class="clearfix"></div>
<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->
