<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->
<!-- Start Navigation -->
<div class="header header-light head-shadow">
  <div class="container">
    <nav id="navigation" class="navigation navigation-landscape">
      <div class="nav-header">
        <a class="nav-brand" routerLink="">
          <img src="assets/img/logofukuro.png" class="logo" alt="" />
        </a>
        <div class="nav-toggle"></div>
      </div>
      <div class="nav-menus-wrapper" style="transition-property: none;">
        <ul class="nav-menu">

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="">Trang Chủ<span
                class="submenu-indicator"></span></a>
          </li>

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="thue-nha-dat">Tìm
              Thuê<span class="submenu-indicator"></span></a>
          </li>

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="hoi-dap">Hỏi
              Đáp<span class="submenu-indicator"></span></a>
          </li>

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="bai-viet">Bài
              Viết<span class="submenu-indicator"></span></a>
            <ul class="nav-dropdown nav-submenu">
              <li *ngFor="let cat of cat">
                <a routerLink="/danh-muc-bai-viet/{{cat.slug}}">{{cat.name}}</a>
              </li>
            </ul>
          </li>

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="dang-ky">Đăng
              Ký</a></li>

        </ul>

        <ul class="nav-menu nav-menu-social align-to-right">
          <li *ngIf="!auth.isLoggedIn">
            <a routerLink="dang-ky" class="text-success"><img src="assets/img/submit.svg" width="20" alt=""
                class="mr-2" />Đăng Kí</a>
          </li>
          <li class="add-listing" routerLinkActive="active" *ngIf="!auth.isLoggedIn">
            <a routerLink="dang-nhap"><img src="assets/img/user-light.svg" width="12" alt="" class="mr-2" />Đăng
              Nhập</a>
          </li>
          <li *ngIf="auth.isLoggedIn">
            <a routerLink="dang-bai" class="text-success"><img src="assets/img/submit.svg" width="20" alt=""
                class="mr-2" />Đăng
              Bài</a>
          </li>
          <li *ngIf="auth.isLoggedIn" routerLinkActive="active">
            <a (click)="auth.logout()">Đăng xuất</a>
          </li>
        </ul>

      </div>
    </nav>
  </div>
</div>
<!-- End Navigation -->
<div class="clearfix"></div>
<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->
