<!-- ============================ Page Title Start================================== -->
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">

        <h2 class="ipt-title">Cập nhật hoá đơn</h2>

      </div>
    </div>
  </div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Agency List Start ================================== -->
<section>

  <div class="container">

    <form>
      <!-- row Start -->
      <div class="row">

        <div class="col-lg-12 col-md-12">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Tên hoá đơn</label>
                <input type="text" class="form-control simple" >
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Giá tiền phòng</label>
                <input type="email" class="form-control simple">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Tiền Internet</label>
                <input type="email" class="form-control simple">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Trả trước</label>
                <input type="text" class="form-control simple">
              </div>
            </div>
          </div>
        </div>
        <div class="form-submit mt-5">
          <h4>Tính tiền điện</h4>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Chỉ số đầu</label>
                <input type="text" class="form-control simple" >
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Chỉ số cuối</label>
                <input type="email" class="form-control simple">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Số lượng</label>
                <input type="text" class="form-control simple" >
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Tổng tiền</label>
                <input type="email" class="form-control simple">
              </div>
            </div>
          </div>
        </div>
        <div class="form-submit">
          <h4>Tính tiền nước</h4>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Chỉ số đầu</label>
                <input type="text" class="form-control simple" >
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Chỉ số cuối</label>
                <input type="email" class="form-control simple">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Số lượng</label>
                <input type="text" class="form-control simple" >
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Tổng tiền</label>
                <input type="email" class="form-control simple">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Giảm giá</label>
              <input type="email" class="form-control simple">
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Tổng tiền</label>
              <input type="text" class="form-control simple">
            </div>
          </div>
        </div>
        <div class="form-group mt-3">
          <button class="btn btn-theme-light-2 rounded" type="submit">Cập nhật</button>
        </div>
      </div>
      <!-- /row -->
    </form>

  </div>

</section>
<!-- ============================ Agency List End ================================== -->
