<!-- ============================ User Dashboard ================================== -->
<section class="bg-light">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="filter_search_opt">
          <a href="javascript:void(0);" (click)="openFilterSearch()">Dashboard Menu<i class="ml-2 ti-menu"></i></a>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-12">

        <div class="simple-sidebar sm-sidebar" id="filter_search">

          <div class="search-sidebar_header">
            <h4 class="ssh_heading">Đóng</h4>
            <button (click)="openFilterSearch()" class="w3-bar-item w3-button w3-large"><i
                class="ti-close"></i></button>
          </div>

          <div class="sidebar-widgets">
            <div class="dashboard-navbar">
              <app-dashboard-navigation></app-dashboard-navigation>

            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-9 col-md-12">
        <div class="dashboard-wraper">

          <!-- Bookmark Property -->
          <div class="form-submit">
            <h4>Tin cho thuê đã lưu</h4>
          </div>

          <table class="property-table-wrap responsive-table bkmark">

            <tbody>
              <tr>
                <th><i class="fa fa-file-text"></i> Tất cả các tin</th>
                <th></th>
              </tr>

              <!-- Item #1 -->
              <tr *ngFor="let wish of bookMark">
                <td class="property-container">
                  <a routerLink="/thue-nha-dat/{{ wish.id }}">
                    <img src="{{linkImg}}{{wish.image[0]}}" alt="">
                  </a>
                  <div class="title">
                    <h4><a routerLink="/thue-nha-dat/{{ wish.id }}">{{wish.name}}</a></h4>
                    <span>{{wish.address}}</span>
                    <span class="table-property-price">
                      <i>{{wish.price | number }} Vnđ<sub>/tháng</sub></i>
                    </span>
                  </div>
                </td>
                <td class="action">
                  <a class="delete" (click)="handleRemoveFromWishlist(wish.id)">
                    <i class="ti-close"></i>
                    Xoá
                  </a>
                </td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>

    </div>
  </div>
</section>
<!-- ============================ User Dashboard End ================================== -->
