<!-- ============================ Hero Banner  Start================================== -->

<div *ngIf="isMobile">
  <div class="image-cover hero-banner" style="background:url(assets/img/banner-1.jpg) no-repeat;" data-overlay="4">
    <div class=" container">
      <!-- Search Start -->
      <app-motel-search></app-motel-search>
      <!-- Search End -->
    </div>
  </div>
</div>
<div *ngIf="!isMobile">
  <div class="page-title">
    <div class=" container">
      <div class="row">
        <div class="col-lg-12 col-md-12">

          <!-- Search Start -->
          <app-motel-search></app-motel-search>
          <!-- Search End -->

        </div>
      </div>
    </div>
  </div>
</div>

<!-- ============================ Hero Banner End ================================== -->


<!-- ============================ All Property ================================== -->
<section class="bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12">
        <div class="item-shorting-box">
          <div class="item-shorting clearfix">
            <div class="left-column pull-left">
              <h4 class="m-0">Tìm thấy 1-{{ count }} trong số {{ count }} kết quả</h4>
            </div>
          </div>
          <div class="item-shorting-box-right">
            <div class="shorting-by">
              <select id="shorty" class="form-control">
                <option value="">Sắp xếp</option>
                <option value="1">Giá thấp - cao</option>
                <option value="2">Giá cao - thấp</option>
              </select>
            </div>
            <ul class="shorting-list">
              <!--              <li><a href="grid.html"><i class="ti-layout-grid2"></i></a></li>-->
              <li><a class="active"><i class="ti-view-list"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-12 col-sm-12 list-layout">
        <div class="row">

          <!-- Single Property Start -->
          <div class="col-lg-6 col-md-12" *ngFor="let item of rentalNews">
            <div class="property-listing property-1">

              <div class="listing-img-wrapper">
                <a routerLink="/thue-nha-dat/{{ item.id }}">
                  <img src="http://localhost:3000/img/{{item.image[0]}}" class="img-fluid mx-auto" alt="" />
                </a>
              </div>

              <div class="listing-content">

                <div class="listing-detail-wrapper-box">
                  <div class="listing-detail-wrapper">
                    <div class="listing-short-detail">
                      <h4 class="listing-name"><a routerLink="/thue-nha-dat/{{ item.id }}">{{ item.name }}</a></h4>
                      <div class="fr-can-rating">
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star"></i>
                        <span class="reviews_text">(0 nhận xét)</span>
                      </div>
                      <span *ngIf="item.type == 1" class="prt-types sale">Phòng trọ</span>
                      <span *ngIf="item.type == 2" class="prt-types sale">Mặt bằng</span>
                      <span *ngIf="item.type == 3" class="prt-types sale">Căn hộ</span>
                    </div>
                  </div>
                </div>
                <div class="list-price">
                  <h6 class="listing-card-info-price">
                    {{item.price | number }} Vnđ
                  </h6>
                </div>
                <!-- <div class="price-features-wrapper">
                        <div class="list-fx-features">
                          <div class="listing-card-info-icon">
                            <div class="inc-fleat-icon"><img src="assets/img/bed.svg" width="13" alt="" /></div>1 phòng
                          </div>
                          <div class="listing-card-info-icon">
                            <div class="inc-fleat-icon"><img src="assets/img/bathtub.svg" width="13" alt="" /></div>1 tolet
                          </div>
                          <div class="listing-card-info-icon">
                            <div class="inc-fleat-icon"><img src="assets/img/move.svg" width="13" alt="" /></div>25 m &#178;
                          </div>
                        </div>
                      </div> -->

                <div class="listing-footer-wrapper" style="padding: 0rem 1rem !important;">
                  <div class="listing-locate">
                    <span class="listing-location"><i class="ti-location-pin"></i>{{item.address | slice:0:45
                      }}...</span>
                  </div>
                  <div class="listing-detail-btn" style="padding: 0.9rem 0rem !important;">
                    <a routerLink="/thue-nha-dat/{{ item.id }}" class="more-btn">Xem</a>
                  </div>
                </div>

              </div>

            </div>
          </div>
          <!-- Single Property End -->

        </div>

        <!-- Pagination -->
        <hr>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="pagination p-center">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span class="ti-arrow-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item active"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">...</a></li>
              <li class="page-item"><a class="page-link" href="#">18</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span class="ti-arrow-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- ============================ All Property ================================== -->
