<div class="d-user-avater">
  <img *ngIf="!currentUser?.avatar" src="https://via.placeholder.com/40x40" class="img-fluid avater" alt="">
  <img *ngIf="currentUser?.avatar" src="{{avatar}}" class="img-fluid avater" alt="">
  <h4 *ngIf="currentUser?.firstName && currentUser?.lastName"><span>{{name}}</span></h4>
  <h4 *ngIf="!currentUser?.firstName && !currentUser?.lastName">{{username}}</h4>
  <span>{{currentUser?.email}}</span>
</div>

<div class="d-navigation">
  <ul>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/my-account">
        <i class="ti-dashboard"></i>
        Dashboard
      </a>
    </li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/my-account/my-profile">
        <i class="ti-user"></i>
        Thông tin tài khoản
      </a>
    </li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/my-account/renal-manage">
        <i class="ti-home"></i>
        Quản lí tin cho thuê
      </a>
    </li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/my-account/order-history">
        <i class="ti-wallet"></i>
        Lịch sử thanh toán
      </a>
    </li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/my-account/notification">
        <i class="ti-bell"></i>
        Thông báo
      </a>
    </li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/my-account/bookmark">
        <i class="ti-bookmark"></i>
        Tin đã lưu
      </a>
    </li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/my-account/change-password">
        <i class="ti-key"></i>
        Đổi mật khẩu
      </a>
    </li>
    <li>
      <a (click)="auth.logout()">
        <i class="ti-power-off"></i>
        Đăng xuất
      </a>
    </li>
  </ul>
</div>