<!-- ================================= Blog Grid ================================== -->
<section>
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-10 text-center">
        <div class="sec-heading center">
          <h2>Bài viết mới nhất</h2>
          <p>Fukuro luôn cập nhật tin tức, mẹo vặt, kinh nghiệm, tips hay cho bạn để bạn có trải nghiệm tốt nhất</p>
        </div>
      </div>
    </div>

    <div class="row">

      <!-- Single blog Grid -->
      <div class="col-lg-4 col-md-6" *ngFor="let blog of blogs ">
        <div class="blog-wrap-grid">
          <div class="blog-thumb">
            <a routerLink="/bai-viet/{{blog.slug}}"><img src="{{blog.thumbnail}}" class="img-fluid" alt="" /></a>
          </div>

          <div class="blog-info">
            <span class="post-date"><i class="ti-calendar"></i>{{blog.createdAt | date: 'dd/MM/yyyy'}}</span>
          </div>

          <div class="blog-body">
            <h4 class="bl-title"><a routerLink="/bai-viet/{{blog.slug}}">{{blog.title}}</a></h4>
            <p>{{ blog.summary | slice:0:120 }}... </p>
            <a routerLink="/bai-viet/{{blog.slug}}" class="bl-continue">Xem Tiếp</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <a routerLink="/thue-nha-dat" class="btn btn-theme-light rounded">Xem thêm</a>
      </div>
    </div>
  </div>
</section>
<!-- ================= Blog Grid End ================= -->
