<!-- ================================= Blog Grid ================================== -->
<section>
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-10 text-center">
        <div class="sec-heading center">
          <h2>Bài viết mới nhất</h2>
          <p>Fukuro luôn cập nhật tin tức, mẹo vặt, kinh nghiệm, tips hay cho bạn để bạn có trải nghiệm tốt nhất</p>
        </div>
      </div>
    </div>

    <div class="row">

      <!-- Single blog Grid -->
      <div class="col-lg-4 col-md-6" *ngFor="let blog of Blog">
        <div class="blog-wrap-grid">

          <div class="blog-thumb">
            <a href="blog-detail.html"><img src="{{blog.image}}" class="img-fluid mx-auto" /></a>
          </div>

          <div class="blog-info">
            <span class="post-date"><i class="ti-calendar"></i>{{blog.created_at}}</span>
          </div>

          <div class="blog-body">
            <h4 class="bl-title"><a href="blog-detail.html">{{blog.name}}</a></h4>
            <p>{{blog.summary}}</p>
            <a href="blo-detail.html" class="bl-continue">Xem tiếp</a>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>
<!-- ================= Blog Grid End ================= -->
